
.App-logo {
  height: 40vmin;
  pointer-events: none;
  opacity: .2;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header a {
    color: #FFFFDD;
}

.App-main {
  background-color: #282c34;
  min-height: calc(100vh - 1.5em);
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.reflection-box {
    display: flex;
}

.reflection {
    width: 200px;
    height:200px;
    position: relative;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 200px;
    box-shadow: 0px 50px 70px rgba(0,0,0,0.3),
		0px 10px 10px rgba(0,0,0,0.1);
}
.reflection::after {
    content:"";
    background-image: inherit;
    width:inherit;
    height:40%;
    position: absolute;
    bottom:-41%;
    transform: scaleY(-1);
    background-position: bottom;
    background-size: cover;
    opacity: 0.5;
}
.reflection::before {
    content:"";
    width:inherit;
    height: 42%;
    position: absolute;
    bottom: -42%;
    background: linear-gradient(to bottom, rgba(255,255,255,0.3),white);
    z-index: 1;
}
