
..  figure:: {{image}}
    :figwidth: 100px
    :align: right

{{title}}
{% for i in range(title|length) %}={% endfor %}


.. tabs::

   .. tab:: README

      .. mdinclude:: {{readme}}

   .. tab:: Environment

      Env vars info...

   .. tab:: Configuration

      Config include...

   .. tab:: Ports

{% for i in range(5) %}
       Port {i}
{% endfor %}

      Ports info...

   .. tab:: Ports
